<% include ../partials/header %>

<div class="container">
	<div class="row">
		<!-- add to the backend this code using promises -->
		<div class="col-md-3 img-responsive figure-img" id="mapContainer">
			<div id="map" style="width: 100%; height: 400px; background: grey" />
		  		<script  type="text/javascript" charset="UTF-8" >
		  			function moveMapToDestination(map){
		 				map.setCenter({lng: <%= campground.longitude %>, lat: <%= campground.latitude %> });
		  				map.setZoom(10);
					}

					var platform = new H.service.Platform({
					  app_id: 'qYWONMF17R4YMu20zgmz',
					  app_code: 'h68w8xnh0MBHJD8IzQbWQQ',
					  useHTTPS: true
					});
					var pixelRatio = window.devicePixelRatio || 1;
					var defaultLayers = platform.createDefaultLayers({
					  tileSize: pixelRatio === 1 ? 256 : 512,
					  ppi: pixelRatio === 1 ? undefined : 320
					});

					//Step 2: initialize a map  - not specificing a location will give a whole world view.
					var map = new H.Map(document.getElementById('map'),
					  defaultLayers.normal.map, {pixelRatio: pixelRatio});

					//Step 3: make the map interactive
					// MapEvents enables the event system
					// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
					var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

					// Create the default UI components
					var ui = H.ui.UI.createDefault(map, defaultLayers);

					// Now use the map as required...
					moveMapToDestination(map);
		  		</script>
		  	</div>
		</div>
		<div class="col-md-9">
			<div class="img-thumbnail">
				<div class="text-center">
					<img class="img-fluid img-responsive figure-img" src="<%= campground.image %>">
				</div>
				<div class="caption-full m-3">
					<h4 class="text-center"><a href="#"><%= campground.name %></a></h4>
					<br />
					<p><b>Address:</b> <%= campground.address %></p>
					<p><b>Phone Number:</b> <%= campground.phone  %></p>
					<h4 class="text-right">$<%= campground.price %>/night</h4>
					<p><%= campground.description  %></p>
					<br />
					<p>
						<em>Submited By <b><%= campground.author.username %></em></b> at: <%= time %>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>
			<div class="card card-body mt-4 bg-light">
				<div class="text-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
				</div>
				<hr />
				<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="float-right">+++</span>
							<p>
								<%= comment.text %></p>
							</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-warning" 	
								href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
								Edit
							</a>
							<form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<input type="submit" class="btn btn-xs btn-danger" value="Delete" />
							</form>
						<% } %>
						<hr />
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>